[user]
	name = Pedro Augusto
	email = 16762743+pedronaugusto@users.noreply.github.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
